.nav li {
    display: inline;
    margin-right: 20px;
}

.nav  {
    list-style: none;
    padding: 0;    
}

.nav li a {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: darksalmon;
}

body {
    background-color: rgb(151, 100, 24);
    font-style: normal;
}

img {
    width: 200px;
    height: 150px;
}
    